@use "../utils/" as u;

.form {
  display: flex;
  gap: u.rem(16);
  width: 100%;
  border-bottom: 1px solid var(--light-grey);
  padding-block-end: u.rem(63.5);
  position: relative;

  @include u.breakpoint(large) {
    gap: u.rem(32);
  }

  &__label {
    width: 30%;
    font-weight: 700;
    font-size: u.rem(12);
    line-height: u.rem(18);
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: var(--smokey-grey);

    @include u.breakpoint(large) {
      width: u.rem(160);
      font-size: u.rem(14);
      line-height: u.rem(21);
      letter-spacing: 0.25em;
    }

    &__error {
      color: var(--light-red);

      input {
        border-color: var(--light-red);
      }
    }

    .error-msg {
      font-style: italic;
      font-weight: 400;
      font-size: u.rem(14);
      line-height: u.rem(21);
      letter-spacing: 0;
      color: var(--light-red);
      text-transform: lowercase;
      margin-block-start: u.rem(8);

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  &__input {
    max-width: 100%;
    padding: u.rem(11) u.rem(15);
    font-weight: 700;
    font-size: u.rem(20);
    line-height: u.rem(30);
    letter-spacing: 0.01em;
    color: var(--off-black);
    margin-block-start: u.rem(4);
    border: 1px solid var(--light-grey);
    caret-color: var(--purple);

    &:focus {
      outline-color: var(--purple);
    }

    &:hover {
      cursor: pointer;
    }

    @include u.breakpoint(large) {
      padding: u.rem(12) u.rem(24);
      font-size: u.rem(32);
      line-height: u.rem(48);
      margin-block-start: u.rem(8);
      letter-spacing: 0.01em;
    }
  }

  &__button {
    position: absolute;
    bottom: -31.5px;
    left: 50%;
    transform: translate(-50%);
    background: var(--purple);
    border-radius: 50%;
    border: none;
    padding: u.rem(10) u.rem(9);

    @include u.breakpoint(large) {
      right: 0;
      left: auto;
      transform: none;
      bottom: -48px;
      padding: u.rem(25) u.rem(24);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--off-black);
    }
  }
}
