@use "../utils/" as u;

main {
  margin: u.rem(88) u.rem(16) 0;
  padding: u.rem(48) u.rem(24);
  background: var(--white);
  border-radius: u.rem(24) u.rem(24) u.rem(100) u.rem(24);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}
